html {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    color:white;
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.background {
    position: fixed;
    z-index: -1;
    background: rgb(13,45,77);
    background-image: linear-gradient( rgba(0,32,62,1) 0%, rgba(27,0,36,1) 100%); 
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}
.line {
    height: 1px;
    background-color: rgba(255,255,255,.1);
    margin: 1em 0;
}
header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: rgba(255,255,255,.1);
    flex: 0 1 auto;
}
/* header > * > * {
    margin: 1em;
} */
a {
    text-decoration: none;
    color: white;
}
nav > a{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 5em;
}
nav > a:hover {
    background-color: rgb(255,255,255,.1)
}
nav {
    display: flex;
    align-self: stretch;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}
.header_main {
    display: flex;
    align-items: center;
}
.header_main h1 {
    margin-left: 1em;
}
p {
    color:rgb(135, 193, 247)
}
main {
    display: flex;
    flex: 1 1 auto;
}
main > * {
    width: 100%;
    text-align: justify;
}
main > *:first-child{
    margin-right: 1em;
}
main > *:last-child {
    margin-left: 1em;   
}
footer {
    flex: 0 1 auto;
}
.accomplishents article {
    position: relative;
    overflow: auto;
}
.accomplishents div > img {
    float: left;
    height: 200px;
    width: 50%;
    object-fit: cover;
    padding-right: 1em;
}
.award article > div:last-child {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.award article > div:last-child img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.unrevealed {
    position: absolute;
    
    background-color: orange; 
    width: 100%;
    height: 100%;
    cursor:pointer;
    transition-duration: 1000ms;
    font-size: 10vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sad {
    background-color: rgb(79, 137, 223);
}
.cocaine {
    background-color: rgb(223, 79, 79);
}
.revealed  {
    cursor: default;
    background-color: transparent;
    color: rgba(255, 255, 255, 0);
    font-size: 20vh;
}